.container {
    width: 100%;
    min-height: 100vh;
    padding: 48px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 207, 250, 1);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 100%;
    padding: 48px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 16px 16px 0px -2px rgba(0, 0, 0, 0.4);
}

.content div {
    width: 100%;
}

.text h1 {
    font-size: 3.4em;
    color: #e564ab;
    margin-bottom: 12px;
    font-weight: 700;
}

.text h2 {
    font-size: 1.2em;
    color: var(--midnight-blue);
    margin-bottom: 12px;
    font-weight: 700;
}

.text p {
    color: var(--midnight-blue);
    font-size: 1em;
    line-height: 24px;
}

.figure img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .content{
        flex-direction: column;
        text-align: center;
    }
}