.content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.instructions {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#part1 {
    background-image: url('../img/instructions/part1.jpg');
}

#part2 {
    background-image: url('../img/instructions/part2.jpg');
}

#part3 {
    background-image: url('../img/instructions/part3.jpg');
}

#part4 {
    background-image: url('../img/instructions/part4.jpg');
}

#part5 {
    background-image: url('../img/instructions/part5.jpg');
}

.instructions img {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.btn-content {
    position: absolute;
    width: 90%;
    height: 120px;
    bottom: 40px;
}

.btn-content button,
.btn-content div {
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
    font-size: 1.2em;
}

.btn-content div a {
    text-decoration: none;
    color: #FFF;
}

#btn-preview {
    position: absolute;
    display: none;
    left: 0;
    background-color: var(--light-blue);
}

#btn-preview:hover {
    background-color: var(--dark-blue);
}

#btn-next {
    position: absolute;
    right: 0;
    background-color: var(--light-blue);
}

#btn-next:hover {
    background-color: var(--dark-blue);
}

#btn-play {
    position: absolute;
    display: none;
    right: 0;
    background-color: var(--light-green);
    color: #FFF;
}

#btn-play:hover {
    background-color: var(--dark-green);
}

.show {
    display: block;
}