.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
    background-color: var(--light-blue);
    color: #FFF;
    text-align: center;
}

.container img {
    width: 140px;
}

.container h1 {
    font-size: 3.4em;
    margin-top: 24px;
    font-weight: 700;
}

.container p {
    font-size: 1em;
    line-height: 36px;
}

.btn-content{

}

.btn-play-again {
    display: block;
    margin-top: 32px;
    padding: 32px 48px;
    background-color: #FFF;
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--light-blue);
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}



