* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

:root {
    --light-blue: #3498db;
    --dark-blue: #2980b9;
    --light-green: #27AE60;
    --dark-green: #219653;
    --light-gray: #F2F2F2;
    --dark-black: #333333;
    --cloud-gray: #ecf0f1;
    --midnight-blue: #2c3e50;
    --medium-gray: #b2bec3;
}

#back-instructions {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
}

.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    background-color: var(--light-blue);
    border-radius: 4px;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.btn-back span {
    font-size: 14px;
    font-weight: 700;
}

.btn-back:hover {
    background-color: var(--dark-blue);
}

.chronometer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chronometer img {
    width: 32px;
    pointer-events: none;
}

.chronometer .time {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 700;
    color: var(--midnight-blue);
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game-screen {
    position: relative;
    min-width: 832px;
    height: 633px;
}

.game-screen>img {
    width: 100%;
    pointer-events: none;
}


/* Characters content */

.content-features {
    min-width: 500px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
}

.content-characters {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 0 auto;
    background-color: var(--light-blue);
    border-radius: 8px;
    padding: 12px 12px;
}

.characters-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 4px;
}

.characters-box h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1em;
    color: #FFF;
}

.row-characters-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.row-characters {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.row-characters .character {
    cursor: pointer;
}


/* Popup info character */

.popup-character {
    position: relative;
}

.popup-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--midnight-blue);
    border-radius: 8px;
    border: 2px solid #FFF;
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: .9em;
    color: #FFF;
}

.popup-info:hover {
    cursor: pointer;
    background-color: #FFF;
    color: var(--midnight-blue);
    transition: .2s ease;
}

.popup-character .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 200px;
    height: 75px;
    opacity: 0;
    border-radius: 12px;
    background-color: var(--light-gray);
    color: var(--dark-black);
    font-size: 14px;
    text-align: center;
    padding: 4px 4px;
    position: absolute;
    z-index: 1;
    top: -22px;
    right: 105%;
    overflow: hidden;
    margin-right: 12px;
}

.popup-character:hover .popup-content {
    visibility: visible;
    width: 200px;
    height: 76px;
    opacity: 1;
    transition: .4s ease;
}

.character {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.character img {
    width: 28px;
    pointer-events: none;
}

.divider {
    width: 20%;
    height: 1px;
    background-color: var(--medium-gray);
    margin: 12px auto;
}

.rules {
    width: 90%;
    margin: 0 auto;
}

.rules-content {
    background-color: #FFF;
    border-radius: 8px;
    text-align: left;
    outline: none;
    padding: 0 4px;
}

.rules-content h2 {
    color: var(--light-blue);
}

.rules-content ul {
    list-style-type: none
}

.rules-content ul li {
    font-size: 14px;
    line-height: 24px;
    color: var(--midnight-blue);
}

.game-features {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid var(--light-blue);
    color: var(--light-blue);
    background-color: #FFF;
}

.counter .count-character {
    font-weight: 700;
    font-size: 48px;
}

.end-game {
    width: 100%;
}

.end-game button {
    width: 100%;
    height: 120px;
    color: #FFF;
    background-color: var(--light-green);
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.end-game button:hover {
    background-color: var(--dark-green);
    color: #FFF;
    transition: .1s ease-in
}

/* Modal Limit Character */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FEFEFE;
    margin: auto;
    padding: 12px 24px 24px 24px;
    border-radius: 12px;
    border-bottom: #3498db solid 4px;
    width: 30%;
}

.modal-content .btn-confirm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-content .btn-confirm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    padding: 24px;
    color: #FFF;
    background-color: var(--light-green);
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-content .btn-confirm button:hover {
    background-color: var(--dark-green);
    color: #FFF;
    transition: .1s ease-in
}

.close-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-content {
    padding: 0 0 24px;
}

.text-content h1 {
    color: var(--light-blue);
}

.text-content p {
    margin-top: 12px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}